html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    font-family: 'Flamenco', cursive;
    color: #000;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section 
{
    display: block;
}
ol,ul
{
    list-style:none;margin:0px;padding:0px;
}
blockquote,q
{
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after
{
    content:'';
    content:none;
}
table
{
    border-collapse:collapse;
    border-spacing:0;
}
/*--start editing from here--*/
a
{
    text-decoration:none;
}
.txt-rt
{
    text-align:right;
}
/* text align right */
.txt-lt
{
    text-align:left;
}
/* text align left */
.txt-center
{
    text-align:center;
}
/* text align center */
.float-rt
{
    float:right;
}
/* float right */
.float-lt
{
    float:left;
}
/* float left */
.clear
{
    clear:both;
}
/* clear float */
.pos-relative
{
    position:relative;
}
/* Position Relative */
.pos-absolute
{
    position:absolute;
}
/* Position Absolute */
.vertical-base
{
    vertical-align:baseline;
}
/* vertical align baseline */
.vertical-top
{
    vertical-align:top;
}
/* vertical align top */
nav.vertical ul li
{
    display:block;
}
/* vertical menu */
nav.horizontal ul li
{
    display: inline-block;
}
/* horizontal menu */
img
{
    max-width:100%;
}
/*--end reset--*/
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: url(images/back1.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-attachment:fixed;
}
.bg-agile
{
    width: 50%;
    margin: 0 auto;
    position: relative;
    padding: 3em 3em 3.5em;
    background: rgba(0, 0, 0, 0.51);
}
h1
{
    font-size: 54px;
    font-weight: 100!important;
    text-transform: capitalize;
    color: #fff;
    word-spacing: 11px;
    letter-spacing: 5px;
    margin: 2.5em 0 1.5em;
    text-align: center;
}
h1 span
{
    color: #ea2e3e!important;
    border: 7px solid rgba(1, 60, 166, 0.86);
    padding: 0 7px 0 12px;
}
.book-appointment h2
{
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-weight: 500;
    letter-spacing: 7px;
}
/*-- reservation --*/
.book-form input[type="text"], .book-form input[type="email"], select#country, select#country1, input#datepicker
{
    width: 86.8%!important;
    color: rgb(25, 205, 232);
    font-size: 0.9em;
    letter-spacing: 2px;
    padding: 10px 10px 10px 50px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.47);
	font-family: 'Flamenco', cursive;
}
.phone_email, .span1_of_1
{
    margin-bottom: 1.5em;
    width: 49%;
    float: left;
}
.phone_email1
{
    float: right;
}
select#country,select#country1
{
    width: 100%!important;
}
select#country option, select#country1 option
{
	background:#000;
}
.book-form .form-text,.book_date,.section_room
{
    position: relative;
} 
.book-form i
{
    position: absolute;
    color: #164b9a;
    font-size: 14px;
    top: 7px;
    left: 0px;
    width: 34px;
    line-height: 25px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.47);
}
.book-form input[type="submit"]
{
    text-transform: capitalize;
    background: rgba(16, 67, 163, 0.13);
    color: #ffffff;
    padding: 0.7em 0em;
    border: none;
    border: 2px solid #ea2e3e;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
       width: 27%;
    float: right;
    outline: none;
    letter-spacing: 8px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}
.book-form input[type="submit"]:hover
{
    background: #ea2e3e;
    border-color: #ea2e3e;
    color: rgb(0, 0, 0);
}
.book-form input[type="reset"]
{
    text-transform: capitalize;
    background: rgba(16, 67, 163, 0.13);
    color: #ffffff;
    padding: 0.7em 0em;
    border: none;
    border: 2px solid #ea2e3e;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
       width: 27%;
    float: left;
    outline: none;
    letter-spacing: 8px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
}
.book-form input[type="reset"]:hover
{
    background: #ea2e3e;
    border-color: #ea2e3e;
    color: #fff;
}
.book-form ::-webkit-input-placeholder
{
	color:#fff !important;
}
.book-form :-moz-placeholder
{ /* Firefox 18- */
	color:#fff !important; 
}
.book-form ::-moz-placeholder
{  /* Firefox 19+ */
	color:#fff !important;
}
.book-form :-ms-input-placeholder
{  
	color:#fff !important;
}
.agile-reservation-grid
{
    background: #c65454;
    padding: 2em;
}
.book-form
{
       margin: 0em 0;
	   width:100%
}

/*-- //reservation --*/

.row{
    max-width: 1180px;
    margin: 0 auto 1px;
}
.logo{
    height: 80px;
    width: auto;
    /* float: left; */
    margin-top: 15px;
}
.main-nav{
    float: right;
    margin-top: 50px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200px;
    font-size: 90%;
}
.main-nav li a:hover
{
    border-bottom: 5px solid #bf55ec;
}

.buttonsubmit{
    border-radius: 20px;
    background-color: black;
    font-size: 15px;
    color: white;
    font-weight: lighter ;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1200px)
  {
    .container{
      max-width: 1140px;
    }
  }
  .d-flex{
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 25px;
  }
  form{
    flex: 3;
  }
  .Yorder{
    flex: 2;
  }
  .title{
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
    background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
    border-radius:5px 5px 0 0 ;
    padding: 20px;
    color: #f6f6f6;
  }
  h2{
    margin: 0;
    padding-left: 15px; 
  }
  .required{
    color: red;
  }
  label, table{
    display: block;
    margin: 15px;
  }
  label>span{
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
  }
  input[type="text"], input[type="tel"], input[type="email"], select
  {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    color: #888;
  }
  select{
    width: 72%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .Yorder{
    margin-top: 15px;
    height: 600px;
    padding: 20px;
    border: 1px solid #dadada;
  }
  table{
    margin: 0;
    padding: 0;
  }
  th{
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
  }
  tr>td:nth-child(1){
    text-align: left;
    color: #2d2d2a;
  }
  tr>td:nth-child(2){
    text-align: right;
    color: #52ad9c;
  }
  td{
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 25px 0;
  }
  
  p{
    display: block;
    color: #888;
    margin: 0;
    padding-left: 25px;
  }
  .Yorder>div{
    padding: 15px 0; 
  }
  
  button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
  button:hover{
    cursor: pointer;
    background: #428a7d;
  }
  .alert{
    width: 100%;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
  }